.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.menu{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-bottom: 2px solid #b0e0ea;
    padding: 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    margin: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
  }
li {
    margin: 5px;
}

.form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-bottom: 2px solid #b0e0ea;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
}
.sborde {
    border: 0;
}